/* ganti font */
/* ganti background */
/* ganti warna font */
/* mengakifkan komponen flexbox */
/* mengarahkan flexbox secara vertikal(column) */
/* menghimpit konten ketengah verikal(bila column) dan ketengah horizontal (bila row) */
/* menghimpit konten kanan-kiri (bila column) dan atas-bawah (bila row) */
/* tinggi halaman (100vh = menyesuaikan semua device panjang halaman) */
/* mengatur jarak kosong dari luar border */
body {
    font-family: "Inter", sans-serif;
    background-color: #f0f2f5;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

/* --- menghias foto */
/* mengatur lebar
mengatur tinggi
mengatur lengkungan border
menyesesuaikan ukuran gambar dalam kontainer */
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit:cover;
}

/* --- menghias kartu nama --- */
/* mengganiti background putih */
/* mengtur jarak antara konten dengan border 12px */
/* mengatur lengkungan border 12px */
/* mengatur maksimal lebar */
/* memberikan bayang bayang 4px(memberi bayangan dibawah konten) 15px(memberikan efek bayang halus rgba(0,0,0,0.1) */
/* menengahkan konten pada main axis */
.profile-card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    max-width: 400px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* --- menghias element h1 dengan class name ---*/
/* warna font biru */
/* jarak margin bagian bawah 10px */
.name {
    font-size: 28px;
    color: #111111;
    margin-bottom: 8px;
}

/* --- menghias paragraf (role) */
/* warna font  */
/* ketebalan font 600/medium */
/* jarak margin bagian bawah 16px */
.role {
    font-size: 16px;
    color: #0066cc;
    font-weight: 600;
    margin-bottom: 16px;
}

/* --- menghias paragraf (bio) --- */
/* ukuran font */
/* warna font */
/* jarak spasi baris font */
/* jarak margin bagian bawah 24px */
.bio {
    font-size: 15px;
    color: #555555;
    line-height: 1.5;
    margin-bottom: 24px;
}

/*--- menghias button ---*/
/* warna background */
/* warna teks putih */
/* ketebalan font 600/medium */
/* bingkai di nonaktifkan */
/* jarak antara konten dengan border 12 px(atas-bawah) 14 px(kanan-kiri)*/
/* radius dari border (agar sedikit bulat) 6px */
/* bila cursor diarahkan ke button akan berubah menjadi kursor pointer */
/* efek transisi (ease) apabila tombol disorot kursor akan berubah background warnanya */
/* lebar tombol 100% */
#tombolKontak {
    background-color: #0066cc;
    color: #ffffff;
    font-weight: 600;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2 ease;
    width: 100%;
}

/* fungsi agar saat tombol disorot kursor berubah warna (hover)*/
#tombolKontak:hover {
    background-color: #0052a3;
}